@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style pour nos marqueurs de carte personnalisés */
.custom-marker-icon {
  background-color: #F97316; /* Orange */
  border: 2px solid white;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.2s ease-in-out;
}

.custom-marker-icon:hover {
  transform: scale(1.3);
}